/* Menu.css */
menu {
  position: relative;
  display: none;
}

span {
  cursor: pointer;
}

.menu-links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease;
  z-index: 1000;
}

.menu-links.open {
  height: 100%;
}

.menu-links > div,
.menu-links > a {
  margin: 10px 0;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.lines_wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.line {
  width: 40px;
  height: 2px;
  background-color: #fff;
}

@media (max-width: 991px) {
  menu {
    display: block;
  }
}
